
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 .fade-bg {background-repeat: repeat; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: none; background: url('assets/images/fade.png'); }


